- 저장한 파일 불러오고 
- 데이터 real 값 best 불러와서 처리해보기

In [2]:
import pandas as pd
import numpy as np
import pickle
from sklearn.preprocessing import StandardScaler

In [3]:
with open ('na_dict.pkl','rb') as f:
    load_dict = pickle.load(f)

In [4]:
real = ['LP002990', 'Female', 'No', '0', 'Graduate', 'Yes', 4583, 0.0, 133.0, 360.0, 0.0, 'Semiurban', 'N']

In [5]:
real2 = ['LP001345', 'Male', 'Yes', '2', 'Not Graduate', 'No', 4288, 3263.0, 133.0, 180.0, 1.0, 'Urban']

In [6]:
real3 = ['LP001345', None, 'Yes', '2', 'Not Graduate', 'No', 4288, 3263.0, 133.0, 180.0, 1.0, 'Urban']

In [7]:
real3 = np.asarray(real3).reshape(1,-1)

In [8]:
df = pd.DataFrame(real3, columns = ['Loan_ID', 'Gender', 'Married', 'Dependents', 'Education','Self_Employed', 'ApplicantIncome', 'CoapplicantIncome', 'LoanAmount','Loan_Amount_Term', 'Credit_History', 'Property_Area'])

In [9]:
df

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
0,LP001345,None,Yes,2,Not Graduate,No,4288,3263.0,133.0,180.0,1.0,Urban

In [11]:
load_dict

{'Gender': 'Male',
 'Married': 'Yes',
 'Dependents': '0',
 'Self_Employed': 'No',
 'LoanAmount': 128.0,
 'Loan_Amount_Term': 360.0,
 'Credit_History': 1.0}

In [12]:
na_obj_col = ['Gender','Married','Dependents','Self_Employed']

In [14]:
for col in na_obj_col :
    df[col].fillna(load_dict[col],inplace= True)

In [15]:
df

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
0,LP001345,Male,Yes,2,Not Graduate,No,4288,3263.0,133.0,180.0,1.0,Urban

In [16]:
obj_col = ['Gender','Married','Dependents','Education','Self_Employed','Property_Area']

In [17]:
for col in obj_col :
    filename = 'label2_' + col + '.pkl'
    
    with open(filename, 'rb') as f :
        label = pickle.load(f)
    df[col] = label.transform(df[col])

In [18]:
df

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
0,LP001345,1,1,2,1,0,4288,3263.0,133.0,180.0,1.0,2

In [19]:
df.drop('Loan_ID',axis = 1, inplace = True)

In [20]:
df

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
0,1,1,2,1,0,4288,3263.0,133.0,180.0,1.0,2

In [26]:
with open('scaler.pkl','rb') as f :
    scaler = pickle.load(f)

In [27]:
df = scaler.transform(df)

In [30]:
with open ('model.pkl', 'rb') as f :
       model = pickle.load(f)

In [31]:
predict = model.predict(df)

In [32]:
with open ('model2.pkl', 'rb') as f :
       model2 = pickle.load(f)

In [35]:
predict2 = model2.predict(df)

In [36]:
if predict == 'Y' :
    print('대출승인')
else :
    pritn('대출거절')

대출승인

In [37]:
if predict2 == 'Y' :
    print('대출승인')
else :
    pritn('대출거절')

대출승인