In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('HR-Employee-Attrition.csv')

In [4]:
df.head()

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,2,80,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,4,80,1,6,3,3,2,2,2,2

In [5]:
df.shape

(1470, 35)

In [6]:
df['Gender'].unique() #안에 있는 값 끌어 올때 유니ㅣ크

array(['Female', 'Male'], dtype=object)

In [7]:
df['Gender'].value_counts()

Male      882
Female    588
Name: Gender, dtype: int64

In [8]:
df.isnull().sum()

Age                         0
Attrition                   0
BusinessTravel              0
DailyRate                   0
Department                  0
DistanceFromHome            0
Education                   0
EducationField              0
EmployeeCount               0
EmployeeNumber              0
EnvironmentSatisfaction     0
Gender                      0
HourlyRate                  0
JobInvolvement              0
JobLevel                    0
JobRole                     0
JobSatisfaction             0
MaritalStatus               0
MonthlyIncome               0
MonthlyRate                 0
NumCompaniesWorked          0
Over18                      0
OverTime                    0
PercentSalaryHike           0
PerformanceRating           0
RelationshipSatisfaction    0
StandardHours               0
StockOptionLevel            0
TotalWorkingYears           0
TrainingTimesLastYear       0
WorkLifeBalance             0
YearsAtCompany              0
YearsInCurrentRole          0
YearsSinceLastPromotion     0
YearsWithCurrManager        0
dtype: int64

In [9]:
gende_mapping = {'Famale' : 0, 'Male' : 1}

In [10]:
gender_mapping = {'Famale' : 0 , 'Male' :1}

In [11]:
df['Gender2'] = df['Gender'].map(gender_mapping)

In [12]:
df['Gender2']

0       NaN
1       1.0
2       1.0
3       NaN
4       1.0
       ...
1465    1.0
1466    1.0
1467    1.0
1468    1.0
1469    1.0
Name: Gender2, Length: 1470, dtype: float64

---------------

## Quiz

In [13]:
df['BusinessTravel'].unique()

array(['Travel_Rarely', 'Travel_Frequently', 'Non-Travel'], dtype=object)

In [14]:
bt_mapping = {}
for i,j in enumerate(['Travel_Rarely', 'Travel_Frequently', 'Non-Travel']) : 
    print(i,j)

0 Travel_Rarely
1 Travel_Frequently
2 Non-Travel

In [ ]:
dict[key] = value

-

In [15]:
for value,key in enumerate(df['BusinessTravel'].unique()) : 
    bt_mapping[key] = value

In [16]:
bt_mapping

{'Travel_Rarely': 0, 'Travel_Frequently': 1, 'Non-Travel': 2}

-

In [18]:
df['BusinessTravel'].value_counts()

Travel_Rarely        1043
Travel_Frequently     277
Non-Travel            150
Name: BusinessTravel, dtype: int64

In [19]:
df['BusinessTravel'] = df['BusinessTravel'].map(bt_mapping)

In [20]:
df['BusinessTravel'].value_counts()

0    1043
1     277
2     150
Name: BusinessTravel, dtype: int64

In [23]:
intcolumns = df.select_dtypes('int64').columns

In [25]:
X = df[intcolumns]

In [26]:
intcolumns

Index(['Age', 'BusinessTravel', 'DailyRate', 'DistanceFromHome', 'Education',
       'EmployeeCount', 'EmployeeNumber', 'EnvironmentSatisfaction',
       'HourlyRate', 'JobInvolvement', 'JobLevel', 'JobSatisfaction',
       'MonthlyIncome', 'MonthlyRate', 'NumCompaniesWorked',
       'PercentSalaryHike', 'PerformanceRating', 'RelationshipSatisfaction',
       'StandardHours', 'StockOptionLevel', 'TotalWorkingYears',
       'TrainingTimesLastYear', 'WorkLifeBalance', 'YearsAtCompany',
       'YearsInCurrentRole', 'YearsSinceLastPromotion',
       'YearsWithCurrManager'],
      dtype='object')

In [27]:
att_map = {}
for value,key in enumerate(df['Attrition'].unique()) :
    att_map[key] = value

In [28]:
df['Attrition'] = df['Attrition'].map(att_map)

In [29]:
Y = df['Attrition']

In [30]:
print(X.shape, Y.shape)

(1470, 27) (1470,)

In [31]:
X.columns

Index(['Age', 'BusinessTravel', 'DailyRate', 'DistanceFromHome', 'Education',
       'EmployeeCount', 'EmployeeNumber', 'EnvironmentSatisfaction',
       'HourlyRate', 'JobInvolvement', 'JobLevel', 'JobSatisfaction',
       'MonthlyIncome', 'MonthlyRate', 'NumCompaniesWorked',
       'PercentSalaryHike', 'PerformanceRating', 'RelationshipSatisfaction',
       'StandardHours', 'StockOptionLevel', 'TotalWorkingYears',
       'TrainingTimesLastYear', 'WorkLifeBalance', 'YearsAtCompany',
       'YearsInCurrentRole', 'YearsSinceLastPromotion',
       'YearsWithCurrManager'],
      dtype='object')

In [33]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split

In [36]:
train_input, test_input, train_output, test_output = \
train_test_split(X, Y, test_size =0.2, stratify = Y, random_state=0)

In [38]:
print(train_input.shape)
print(train_output.shape)
print(test_input.shape)
print(test_output.shape)

(1176, 27)
(1176,)
(294, 27)
(294,)

--

In [41]:
classifier1 = DecisionTreeClassifier()

In [40]:
classifier2 = RandomForestClassifier()

In [42]:
classifier1.fit(train_input, train_output)

DecisionTreeClassifier()

In [43]:
predict_train = classifier1.predict(train_input)

In [44]:
train_input

,Age,BusinessTravel,DailyRate,DistanceFromHome,Education,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,HourlyRate,JobInvolvement,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
1342,34,0,1480,4,3,1,1882,3,64,3,...,4,80,3,9,3,3,5,3,1,0
106,50,1,1115,1,3,1,141,1,73,3,...,1,80,0,28,1,2,8,3,0,7
28,44,0,477,7,4,1,36,1,42,2,...,4,80,1,24,4,3,22,6,5,17
845,40,1,902,26,2,1,1180,3,92,2,...,4,80,1,16,3,1,1,1,0,0
182,41,0,1356,20,2,1,248,2,70,3,...,4,80,0,4,5,2,4,3,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
302,28,0,1476,16,2,1,412,2,68,4,...,3,80,0,9,2,3,8,3,0,7
740,35,0,802,10,3,1,1028,2,45,3,...,1,80,1,3,4,2,3,2,1,2
713,45,0,974,1,4,1,996,4,91,3,...,4,80,2,8,2,3,5,3,0,2
285,37,0,1372,1,3,1,391,4,42,3,...,2,80,0,17,3,3,17,12,5,7
1361,26,1,1096,6,3,1,1918,3,61,4,...,1,80,1,8,3,3,7,7,7,7

In [45]:
predict_train

array([1, 1, 1, ..., 1, 1, 1], dtype=int64)

In [47]:
accuracy_score(predict_train, train_output)* 100

100.0

In [49]:
predict_test = classifier1.predict(test_input)

In [ ]:
accuracy_score(predict_input)