In [ ]:
x = True

In [ ]:
type(x)

In [ ]:
x = 1

In [ ]:
x = str(x)

In [ ]:
x

In [ ]:
x = '1'

In [ ]:
int(x)

In [ ]:
x = None #none 은 null 공백도 아니고 아무것도 없다 임 공백도 열로 계단 되기때문에

In [ ]:
x

In [ ]:
list1 = []

In [ ]:
list1 = list() #list함수로 만드는 방식

In [ ]:
x = (1,2,3,4) # 튜플은 변경할 수 없음 FOR문은 돌아감

In [ ]:
dict = {}

In [ ]:
if 조건 :
    구문

In [ ]:
if False :
#(인덴트 띄어쓰기)    print('Hello')
print('World')

In [ ]:
if 조건문 :
    구문 1
else :
    구문 2

In [ ]:
if 조건문:
    
    구문 1
elif 조건문2:
    구문2
elif 조건문 3 :
    구문3
else :
    구문 4

In [1]:
num = 4

In [5]:
if num%2 == 0 :
    print('짝수')
elif num%2 == 1:
    print('홀수')

짝수

In [4]:
for 변수 in 반복될 대상:
    구문

SyntaxError: invalid syntax (1696690906.py, line 1)

In [6]:
list(range(0,10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [7]:
list(range(0,10,2))

[0, 2, 4, 6, 8]

In [9]:
for i in range(10) :
    print(i)

0
1
2
3
4
5
6
7
8
9

In [10]:
for i in range(10) :
    for j in range(10) :
        print('i:',i,'j:',j)

i: 0 j: 0
i: 0 j: 1
i: 0 j: 2
i: 0 j: 3
i: 0 j: 4
i: 0 j: 5
i: 0 j: 6
i: 0 j: 7
i: 0 j: 8
i: 0 j: 9
i: 1 j: 0
i: 1 j: 1
i: 1 j: 2
i: 1 j: 3
i: 1 j: 4
i: 1 j: 5
i: 1 j: 6
i: 1 j: 7
i: 1 j: 8
i: 1 j: 9
i: 2 j: 0
i: 2 j: 1
i: 2 j: 2
i: 2 j: 3
i: 2 j: 4
i: 2 j: 5
i: 2 j: 6
i: 2 j: 7
i: 2 j: 8
i: 2 j: 9
i: 3 j: 0
i: 3 j: 1
i: 3 j: 2
i: 3 j: 3
i: 3 j: 4
i: 3 j: 5
i: 3 j: 6
i: 3 j: 7
i: 3 j: 8
i: 3 j: 9
i: 4 j: 0
i: 4 j: 1
i: 4 j: 2
i: 4 j: 3
i: 4 j: 4
i: 4 j: 5
i: 4 j: 6
i: 4 j: 7
i: 4 j: 8
i: 4 j: 9
i: 5 j: 0
i: 5 j: 1
i: 5 j: 2
i: 5 j: 3
i: 5 j: 4
i: 5 j: 5
i: 5 j: 6
i: 5 j: 7
i: 5 j: 8
i: 5 j: 9
i: 6 j: 0
i: 6 j: 1
i: 6 j: 2
i: 6 j: 3
i: 6 j: 4
i: 6 j: 5
i: 6 j: 6
i: 6 j: 7
i: 6 j: 8
i: 6 j: 9
i: 7 j: 0
i: 7 j: 1
i: 7 j: 2
i: 7 j: 3
i: 7 j: 4
i: 7 j: 5
i: 7 j: 6
i: 7 j: 7
i: 7 j: 8
i: 7 j: 9
i: 8 j: 0
i: 8 j: 1
i: 8 j: 2
i: 8 j: 3
i: 8 j: 4
i: 8 j: 5
i: 8 j: 6
i: 8 j: 7
i: 8 j: 8
i: 8 j: 9
i: 9 j: 0
i: 9 j: 1
i: 9 j: 2
i: 9 j: 3
i: 9 j: 4
i: 9 j: 5
i: 9 j: 6
i: 9 j: 7
i: 9 j: 8
i: 9 j: 9

In [ ]:
def func1(): #매게미터 파라미터 파란색 글자 
    구문 1
    return

In [11]:
def fun1() :
    print('test')

In [ ]:
def fun5(*args) :
    return args #입력값이 몇개일지 모를때 알그스를 사용 args

In [ ]:
def calt(oper, *args):
    if  oer

In [14]:
def fun6 (**kwargs) :
    return kwargs   #매개변수 이름을 몰라 사용자가 마음대로 넣을수 있을때 이름 설정 /위에꺼는 숫자 값음 입력

In [15]:
fun6(name='hojin',age=20)

{'name': 'hojin', 'age': 20}

In [ ]:
print('문자열 ', sep=' ' ,end ='\n')

In [17]:
print('Hello','World')
print('Hi', 'Python')

Hello World
Hi Python

In [19]:
print('Hello','World',sep='|')

Hello|World

# format

In [20]:
print('{0},{1}'.format(value1,value2))

NameError: name 'value1' is not defined

In [21]:
print ('This is {}.That is {}'.format('apple','banana')) #순서를 안넣으면 순서대로

This is apple.That is banana

In [22]:
print ('This is {1}.That is {0}'.format('apple','banana')) # 순서를 메기면 메긴 순서대로

This is banana.That is apple

In [23]:
a = 'apple'
b = 'banana'

In [24]:
print ('This is {}.That is {}'.format(a,b))

This is apple.That is banana

In [25]:
print('This is {fruit1}. That is {fruit2}'.format(fruit1='apple',fruit2='banana'))

This is apple. That is banana

In [26]:
print('This is {0:0.3f}'.format(123.45678))  #f는 실수 d는 정수

This is 123.457

In [30]:
print('This is {0:0.10f}'.format(123.45678))

This is 123.4567800000

In [31]:
print('This is {:03d}'.format(12))

This is 012

In [32]:
print('This is {:03d}'.format(1234))

This is 1234

In [33]:
print('This is {0:03d}'.format(1234))

This is 1234

# 포멧팅
- %s : 문자열
- %d : 정수 
- %f : 실수 

- %o : 8진수 
- %x : 16진수

In [34]:
print(f'This is %s '%'apple')  #%s로 %뒤에 글자가 들어가서 출력됨  #앞에 f 가 포멧팅ㅇ이라는 뜻

This is apple

In [36]:
print(f'This is %s. That is %s '%('apple','banana'))

This is apple. That is banana

In [37]:
print(f'The value is %d' %1)

The value is 1

In [38]:
print(f'The value is %05d' %1)

The value is 00001

In [43]:
for i in range(2,10) :
    for j in range(1,10) :
        print (i,'*',j,'=',i*j)

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81

In [44]:
for i in range(2,10) :
    for j in range(1,10) :
        print (f'%d * %d = %2d' % (i,j,i*j))

2 * 1 =  2
2 * 2 =  4
2 * 3 =  6
2 * 4 =  8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
3 * 1 =  3
3 * 2 =  6
3 * 3 =  9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
4 * 1 =  4
4 * 2 =  8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
5 * 1 =  5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
6 * 1 =  6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
7 * 1 =  7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
8 * 1 =  8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
9 * 1 =  9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81

In [45]:
print(f'The value is %.3f ' %123.456789)

The value is 123.457

In [46]:
print('The value is %.3f ' %123.456789) #f를 굳이 붙이지 않아도 된단 포멧팅이라는걸 인지하기 위해썻음

The value is 123.457

# 진수

2진수 : 0-1
8진수 : 0-7
10진수 : 0-9
16진수 : 0-f

2진수 : 0 1 10 11 100 101 110 111
10진수 :0 1  2  3  4   5   6   7 
8진수 : 0 1  2  3  4   5   6   7   10  11  12  13  14  15  16  17  20
16진수 :0 1  2  3  4   5   6   7    8   9  a b c d e f 10

In [48]:
for i in range(10) :
    print(f'The value is %o' %i)

The value is 0
The value is 1
The value is 2
The value is 3
The value is 4
The value is 5
The value is 6
The value is 7
The value is 10
The value is 11

In [50]:
for i in range(18) :
    print(f'The value is %x' %i)

The value is 0
The value is 1
The value is 2
The value is 3
The value is 4
The value is 5
The value is 6
The value is 7
The value is 8
The value is 9
The value is a
The value is b
The value is c
The value is d
The value is e
The value is f
The value is 10
The value is 11

In [51]:
print(f'%0.1f%%' %90)

90.0%