In [22]:
import pandas as pd

In [23]:
train = pd.read_csv('9D_titanic/train.csv')

#(../폴더) 점점 상대경로 위!에 경로

In [24]:
train.head(1)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.25,NaN,S

In [25]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

#SibSp 사촌 + 배우자의 수  
#Fare 요금
#Parch 부모님+ 아이 수
#Cabin 선실 객실
#Embarked 선착장
#Pclass 등급
#Survived 생존한 사람
#PassengerId 승객번호

In [26]:
train.shape

(891, 12)

In [27]:
train.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

# 분류(오브젝트 ,판단이 정확히 가능한거 )classification 
# -2개는 바이너리(bynury) 3개는 멀티
#회귀(연속된 실수 ,오브젝트X ,결과 예측 ) regelation

In [28]:
train['Survived'].value_counts()

0    549
1    342
Name: Survived, dtype: int64

In [29]:
(train['Pclass'] == 2) & (train['Survived'] == 1)

0      False
1      False
2      False
3      False
4      False
       ...
886    False
887    False
888    False
889    False
890    False
Length: 891, dtype: bool

In [30]:
len((train['Pclass'] == 2) & (train['Survived'] == 1))

891

In [31]:
len((train['Pclass'] == 2) & (train['Survived'] == 1) & (train['Sex'] == 'female'))

891

In [32]:
train['Sex']

0        male
1      female
2      female
3      female
4        male
        ...
886      male
887    female
888    female
889      male
890      male
Name: Sex, Length: 891, dtype: object

In [33]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [34]:
train.groupby('Sex')['Survived'].mean()

Sex
female    0.742038
male      0.188908
Name: Survived, dtype: float64

In [35]:
train.groupby('Pclass')['Survived'].mean()

Pclass
1    0.629630
2    0.472826
3    0.242363
Name: Survived, dtype: float64

In [36]:
train.groupby('SibSp')['Survived'].mean().sort_values(ascending=False)

SibSp
1    0.535885
2    0.464286
0    0.345395
3    0.250000
4    0.166667
5    0.000000
8    0.000000
Name: Survived, dtype: float64

In [37]:
train['Parch'].value_counts()

0    678
1    118
2     80
5      5
3      5
4      4
6      1
Name: Parch, dtype: int64

In [38]:
train.groupby('Embarked')['Survived'].mean()

Embarked
C    0.553571
Q    0.389610
S    0.336957
Name: Survived, dtype: float64

In [39]:
train.groupby(['Pclass','Sex'])['Survived'].mean().sort_values(ascending= False)

Pclass  Sex
1       female    0.968085
2       female    0.921053
3       female    0.500000
1       male      0.368852
2       male      0.157407
3       male      0.135447
Name: Survived, dtype: float64

In [40]:
train.groupby('Pclass')['Fare'].mean()

Pclass
1    84.154687
2    20.662183
3    13.675550
Name: Fare, dtype: float64

In [41]:
train.groupby('Embarked')['Fare'].mean()

Embarked
C    59.954144
Q    13.276030
S    27.079812
Name: Fare, dtype: float64

In [42]:
train.groupby(['Pclass','Sex'])[['Survived','Fare']].mean()

               Survived        Fare
Pclass Sex
1      female  0.968085  106.125798
       male    0.368852   67.226127
2      female  0.921053   21.970121
       male    0.157407   19.741782
3      female  0.500000   16.118810
       male    0.135447   12.661633