In [ ]:
# 주소 1 주소 2 건물명 승강기벙호 승강기상태 최종검사일 적재하중 제조업체 전화번호

In [ ]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np
from tqdm import tqdm

-

In [ ]:
url = 'http://apis.data.go.kr/openapi/service/ElevatorInformationService/getElevatorList?serviceKey=0kYXnKBN3P1BPz%2BPbMj53%2BXf9Lasd9mZvYohzWDq%2B10Tagyqazw0pf62r0VMYgKLZZednlK4k5uPA6V49OvEcw%3D%3D&numOfRows=10&pageNo=1&sido=%EC%84%9C%EC%9A%B8%ED%8A%B9%EB%B3%84%EC%8B%9C&sigungu=%EC%9D%80%ED%8F%89%EA%B5%AC'
req = requests.get(url)

In [ ]:
col_names = []
data = [] 

for i in tqdm(range(1,3)) :
    url = 'http://apis.data.go.kr/openapi/service/ElevatorInformationService/getElevatorList'
    serviceKey = '0kYXnKBN3P1BPz%2BPbMj53%2BXf9Lasd9mZvYohzWDq%2B10Tagyqazw0pf62r0VMYgKLZZednlK4k5uPA6V49OvEcw%3D%3D'
    numOfRows = '100'
    pageNo =  str(i)
    sido = '%EC%84%9C%EC%9A%B8%ED%8A%B9%EB%B3%84%EC%8B%9C'
    sigungu = '%EC%9D%80%ED%8F%89%EA%B5%AC'
    
    api_url = url + '?' + 'serviceKey=' + serviceKey + '&numOfRows=' + numOfRows + '&pageNo=' + pageNo + '&sido=' + sido + '&sigungu=' + sigungu
    
    req = requests.get(api_url)
    soup = BeautifulSoup(req.text, 'xml')
    
    if not col_names :
        for item in soup.items()[0] :
            col_names.append(item.name)
   
    for item in soup.items :
        temp = []
        for t in item :
            temp.append(t.text.strip())
        data.append(temp)

In [ ]:
df = pd.DataFrame(data,columns=col_names)

In [ ]:
df.shape

In [ ]:
df = df.replace('',np.nan)

In [ ]:
df.isnull().sum()

In [ ]:
df.drop(['applcBeDt', 'applcEnDt', 'areaNo','buldMgtNo1', 'buldMgtNo2',\
         'buldPrpos', 'divGroundFloorCnt','divUndgrndFloorCnt',\
         'elvtrAsignNo', 'elvtrDivNm','elvtrFormNm', 'elvtrKindNm',\
         'elvtrMgtNo1', 'elvtrMgtNo2','elvtrModel', 'elvtrResmptDe',\
         'frstInstallationDe','inspctInstt', 'installationDe', 'installationPlace',\
         'lastInspctKind', 'lastResultNm', 'mnfcturCpnyCd', 'mntCpnyCd', 'mntCpnyNm',\
         'mntCpnyTelno', 'mrYn', 'partcpntNm', 'partcpntTelno', 'pauseAblDe',\
         'pauseAbleResn', 'ratedCap', 'ratedSpeed', 'shuttleFloorCnt',\
         'shuttleMngrNm', 'shuttleMngrTelno', 'shuttleSection', 'sigunguCd',\
         'standardKey', 'subcntrCpny', 'zipCd1', 'zipCd2'], axis=1,inplace=True)

In [ ]:
df.columns

In [ ]:
#  manufacturerTelno            999999900 : 이상한 값이 들어 갔으므로 잘못된 코드임
df.iloc[9]

----

In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np
from tqdm import tqdm

In [ ]:
# 강사님 풀이

In [ ]:
url = 'http://apis.data.go.kr/openapi/service/ElevatorInformationService/getElevatorList'
serviceKey = '0kYXnKBN3P1BPz+PbMj53+Xf9Lasd9mZvYohzWDq+10Tagyqazw0pf62r0VMYgKLZZednlK4k5uPA6V49OvEcw=='
numOfRows = '20'
pageNo =  '1'
sido = '서울특별시'
sigungu = '은평구'

In [ ]:
params = {'serviceKey' : serviceKey, 'numOfRows' : numOfRows, 'pageNo' : pageNo, 'sido':sido, 'sigungu':sigungu }

In [ ]:
#verify=False 검증 하지 말라 ssl무슨 에러 뜬다 하면 사용
req = requests.get(url, params=params,verify=False)

In [ ]:
req # 200 이라고 뜨면 정상 응답 처리(데이터는 안들어 있을수 있으니 확인필요) /
    #200아닌 따른게 들어있다면 오류

In [ ]:
soup = BeautifulSoup(req.text,'lxml')

In [ ]:
col_list = ['address1', 'address2', 'buldNm', 'elevatorNo', 'elvtrStts','lastInspctDe', 'liveLoad', 'manufacturerName', 'manufacturerTelno']

In [ ]:
# 어떻게 코드를 작성했는지 이해해보기
data = []
for col in col_list :
    temp = []
    for d in soup.select(col) :
        temp.append(d.text)
    data.append(temp)

In [ ]:
df = pd.DataFrame(data).T

In [ ]:
df.columns = col_list

In [ ]:
df

In [ ]:
# 마지막 19 열 manufacturerTelno none 이라고 뜸 / 번호가 있는데 없다고 뜸 
for col in col_list :
    print(col, len(soup.select(col)))

In [ ]:
# 위에꺼는 망한 코드임  fail-!!!!!

----

In [ ]:
# 이것도 망한 코드임 !
data = []
for item in soup.items :
    temp = []
    for v in item :
        temp.append(v.text)
    data.append(temp)

In [ ]:
col_list = []
for i  in soup.item :
    col_list.append(i.name)

In [ ]:
df = pd.DataFrame(data, columns=col_list)

In [ ]:
# 잘 못된 코드임 중간에 없는게 3개나 있어서 끝에 nan값이 3개나 생김 
df.iloc[9]

---

In [ ]:
soup.item.select('address1')

In [ ]:
col_list = ['address1', 'address2', 'buldNm', 'elevatorNo', 'elvtrStts','lastInspctDe', 'liveLoad', 'manufacturerName', 'manufacturerTelno']

In [ ]:
# ERROR나는게 당연한거 'list index out of range' 리스트가 없는데 가지고 오라고?!
data = []
for item in soup.items :
    temp = []
    for col in col_list :
        temp.append(item.select(col)[0].text)
    data.append(temp)

-------

In [ ]:
#위에꺼를 올바르게 코드로 만드는 법

In [ ]:
b = input()

In [ ]:
# try : except : 설명 
# 예외처리 
a = 1
b = '2'
# 정상처리되면 try에서 끝이나고 
try :
    print('try 시작')
    c = a+b
    print('try 끝')
#예외처리되면 except까지 감 
except : 
    print('except 끝')
    c = a+int(b)
    print(c)

In [ ]:

col_list = ['address1', 'address2', 'buldNm', 'elevatorNo', 'elvtrStts','lastInspctDe', 'liveLoad', 'manufacturerName', 'manufacturerTelno']
data = []
for item in soup.items :
    temp = []
    for col in col_list :
        try :
            temp.append(item.select(col)[0].text)
        except : 
            temp.append('')
    data.append(temp)

In [ ]:
df = pd.DataFrame(data, columns=col_list)

In [ ]:
df

--

In [2]:
data = []
for page in range(1,3) :
    url = 'http://apis.data.go.kr/openapi/service/ElevatorInformationService/getElevatorList'
    serviceKey = '0kYXnKBN3P1BPz+PbMj53+Xf9Lasd9mZvYohzWDq+10Tagyqazw0pf62r0VMYgKLZZednlK4k5uPA6V49OvEcw=='
    numOfRows = '100'
    #numOfRows 한번에 가져올수 있는 량
    pageNo =  page
    sido = '서울특별시'
    sigungu = '은평구'

    params = {'serviceKey' : serviceKey, 'numOfRows' : numOfRows, 'pageNo' : pageNo, 'sido':sido, 'sigungu':sigungu }
    req = requests.get(url, params=params,verify=False)
    soup = BeautifulSoup(req.text,'lxml')
    col_list = ['address1', 'address2', 'buldNm', 'elevatorNo', 'elvtrStts','lastInspctDe', 'liveLoad', 'manufacturerTelno']
  

    for item in soup.items :
        temp = []
        for col in col_list :
            try :
                temp.append(item.select(col)[0].text)
            except : 
                temp.append('')
        data.append(temp)

C:\Users\user\anaconda3\lib\site-packages\bs4\builder\__init__.py:545: XMLParsedAsHTMLWarning: It looks like you're parsing an XML document using an HTML parser. If this really is an HTML document (maybe it's XHTML?), you can ignore or filter this warning. If it's XML, you should know that using an XML parser will be more reliable. To parse this document as XML, make sure you have the lxml package installed, and pass the keyword argument `features="xml"` into the BeautifulSoup constructor.
  warnings.warn(

In [3]:
df = pd.DataFrame(data, columns=col_list)

In [4]:
df

,address1,address2,buldNm,elevatorNo,elvtrStts,lastInspctDe,liveLoad,manufacturerTelno
0,서울특별시 은평구 연서로 71,(역촌동),(재)살림이,0081201,운행중,2022-05-24,550 KG,055-269-4114
1,서울특별시 은평구 통일로71길 16,(대조동),(주)KT 은평지사,0042569,운행중,2022-10-11,1150 KG,055-289-8235
2,서울특별시 은평구 통일로71길 16,(대조동),(주)KT 은평지사,0042570,운행중,2022-10-11,1150 KG,055-289-8235
3,서울특별시 은평구 은평로13길 12-1,해명빌딩 (녹번동),(주)녹번해명(해명빌딩),0104893,운행중,2022-11-03,1150 KG,043-722-1000
4,서울특별시 은평구 은평로13길 12-1,해명빌딩 (녹번동),(주)녹번해명(해명빌딩),0004213,운행중,2022-11-03,2000 KG,032-815-7871
...,...,...,...,...,...,...,...,...
195,서울특별시 은평구 수색동 115-5,(수색동),DMC파인시티,0155005,운행중,2022-07-11,1000 KG,043-722-1000
196,서울특별시 은평구 수색동 115-5,(수색동),DMC파인시티,0154984,운행중,2022-06-15,1000 KG,043-722-1000
197,서울특별시 은평구 수색동 115-5,(수색동),DMC파인시티,0154985,운행중,2022-06-15,1000 KG,043-722-1000
198,서울특별시 은평구 수색동 115-5,(수색동),DMC파인시티,0155230,운행중,2022-10-31,1000 KG,043-722-1000
199,서울특별시 은평구 수색동 115-5,(수색동),DMC파인시티,0155231,운행중,2022-10-31,1000 KG,043-722-1000

In [5]:
df.shape

(200, 8)

In [8]:
df.to_csv('elevInfo_csv', index = False, encoding ='euc-kr')