In [1]:
#세트 
#import pandas as pd
#import requests
#from bs4 import BeautifulSoup

In [2]:
#url = 'https://dhlottery.co.kr/store.do?method=topStore&pageGubun=L645'

In [3]:
#세트
#req = requests.get(url)
#html = req.text
#soup = BeautifulSoup(html, 'html.parser')

In [4]:
import pandas as pd

In [5]:
import requests

In [6]:
# 가져올 화면 크롤링
url = 'https://dhlottery.co.kr/store.do?method=topStore&pageGubun=L645'

In [7]:
#HTTP 프로토콜
#get방식(가져오는 방식) 인자를 url에 넣어서 전달 (눈으로 볼수 잇음)
#post방식(가져오는방식2)) 인자를 프로토콜에 넣어서 전달 (눈으로 볼수 없음 )
#-주소가 안바뀌면 개발자도구를 통해서 post라는걸 보냄?!
#requests 요청
req = requests.get(url)

In [8]:
# 요청 한거 에서 텍스트만 빼주는거 
html = req.text

In [9]:
# BeautifulSoup 하나의 라이브러리
#소스코드를 깔끔하게 정해 준다 
from bs4 import BeautifulSoup

In [10]:
#(html, 'html.parser') 안에 있는걸 가공하겠다 
soup = BeautifulSoup(html, 'html.parser')

In [11]:
# select 복사하는 함수중에 하나 ()
name = soup.select('#article > div:nth-child(2) > div > div:nth-child(4) > table > tbody > tr > td:nth-child(2)')

In [12]:
name

[<td>복권마을</td>,
 <td>잠실매점</td>,
 <td>당첨로또</td>,
 <td>위너로또</td>,
 <td>라이프마트</td>,
 <td>알리바이</td>,
 <td>토큰박스</td>,
 <td>은미복권방</td>,
 <td>로또대박</td>,
 <td>대박명당</td>,
 <td>행운복권방</td>,
 <td>신불당로또</td>,
 <td>현대장미슈퍼</td>,
 <td>알리바이(나주점)</td>,
 <td>알리바이(나주점)</td>,
 <td>복권방</td>]

In [13]:
gubun = soup.select('#article > div:nth-child(2) > div > div:nth-child(4) > table > tbody > tr > td:nth-child(3)')

In [14]:
gubun

[<td>



 												반자동


 										</td>,
 <td>

 												자동




 										</td>,
 <td>

 												자동




 										</td>,
 <td>

 												자동




 										</td>,
 <td>

 												자동




 										</td>,
 <td>

 												자동




 										</td>,
 <td>

 												자동




 										</td>,
 <td>

 												자동




 										</td>,
 <td>

 												자동




 										</td>,
 <td>

 												자동




 										</td>,
 <td>

 												자동




 										</td>,
 <td>

 												자동




 										</td>,
 <td>

 												자동




 										</td>,
 <td>

 												자동




 										</td>,
 <td>

 												자동




 										</td>,
 <td>

 												자동




 										</td>]

In [15]:
addr = soup.select('#article > div:nth-child(2) > div > div:nth-child(4) > table > tbody > tr > td:nth-child(4)')

In [16]:
addr

[<td>서울 구로구 구로동로 72 </td>,
 <td>서울 송파구 올림픽로 269 잠실역 8번출구 앞 가판</td>,
 <td>부산 동구 범일로90번길 6-1 1층</td>,
 <td>인천 남동구 구월남로 212  동원프라자 101호</td>,
 <td>인천 중구 연안부두로53번길 36 5호</td>,
 <td>광주 광산구 수등로 253 1층 알리바이</td>,
 <td>경기 남양주시 진건오남로 112-1 동양할인마트 앞 로또판매점</td>,
 <td>경기 부천시 소사로794번길 6 </td>,
 <td>경기 부천시 석천로177번길 11 제이클래스중동 1층 105호</td>,
 <td>경기 양주시 옥정동로5길 6 </td>,
 <td>충북 청주시 상당구 단재로 119,(영운동) </td>,
 <td>충남 천안시 서북구 불당21로 40 501동 지1층 B143호</td>,
 <td>전북 익산시 동서로61길 41 현대아파트1층108호</td>,
 <td>전남 나주시 나주로 142 알리바이</td>,
 <td>전남 나주시 나주로 142 알리바이</td>,
 <td>제주 서귀포시 상모로 326 </td>]

In [17]:
data = []
for i in range(len(name)) :
    temp = []
    temp.append(name[i].text)
    temp.append(gubun[i].text.strip())
    temp.append(addr[i].text)
    data.append(temp)

In [18]:
df = pd.DataFrame(data, columns = ['상호명','구분','주소'])

In [19]:
df

          상호명   구분                                  주소
0        복권마을  반자동                     서울 구로구 구로동로 72
1        잠실매점   자동       서울 송파구 올림픽로 269 잠실역 8번출구 앞 가판
2        당첨로또   자동                부산 동구 범일로90번길 6-1 1층
3        위너로또   자동         인천 남동구 구월남로 212  동원프라자 101호
4       라이프마트   자동               인천 중구 연안부두로53번길 36 5호
5        알리바이   자동              광주 광산구 수등로 253 1층 알리바이
6        토큰박스   자동  경기 남양주시 진건오남로 112-1 동양할인마트 앞 로또판매점
7       은미복권방   자동                  경기 부천시 소사로794번길 6
8        로또대박   자동  경기 부천시 석천로177번길 11 제이클래스중동 1층 105호
9        대박명당   자동                    경기 양주시 옥정동로5길 6
10      행운복권방   자동           충북 청주시 상당구 단재로 119,(영운동)
11      신불당로또   자동  충남 천안시 서북구 불당21로 40 501동 지1층 B143호
12     현대장미슈퍼   자동        전북 익산시 동서로61길 41 현대아파트1층108호
13  알리바이(나주점)   자동                 전남 나주시 나주로 142 알리바이
14  알리바이(나주점)   자동                 전남 나주시 나주로 142 알리바이
15        복권방   자동                    제주 서귀포시 상모로 326

In [20]:
#POST 방식
#ctrl- shift - i - network - Payroad
post_data = {'method': 'topStore',
             'nowPage': '1',
             'rankNo': '',
             'gameNo': '5133',
             'drwNo': '1039',
             'schKey': 'all',
             'schVal': '' }

In [21]:
req = requests.post(url, data = post_data)

In [22]:
html = req.text

In [23]:
soup = BeautifulSoup(html,'html.parser')

--

In [ ]:
df = pd.DataFrame()

for time in range(1000,1039) :
    data = {'method': 'topStore',
             'nowPage': '1',
             'rankNo': '',
             'gameNo': '5133',
             'drwNo': '1039',
             'schKey': 'all',
             'schVal': '' }
    
    req = requests.post(url, data = post_data)
    html = req.text
    soup = BeautifulSoup(html,'html.parser')